.SearchBar {
    margin: 20px 0;
  }
  
  .SearchBar-sort-options {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .SearchBar-sort-options ul {
    list-style: none;
    display: flex;
    padding: 0;
  }
  
  .SearchBar-sort-options li {
    margin: 0 15px;
    cursor: pointer;
  }
  
  .SearchBar-sort-options .active {
    font-weight: bold;
    text-decoration: underline;
  }
  
  .SearchBar-fields {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .SearchBar-fields input {
    margin: 0 5px;
    padding: 10px;
    font-size: 16px;
  }
  
  .SearchBar-submit {
    display: flex;
    justify-content: center;
  }
  
  .SearchBar-submit button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  